@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('/assets/fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('/assets/fonts/BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
